<!-- About -->
{% if site.locale and site.locale != "" and site.locale != nil %}
    <section class="page-section" id="{{ site.data.sitetext[site.locale].about.section | default: "about" }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].about.title | default: "About Us" }}</h2>
                    <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].about.text | default: "" }}</h3>
                </div>
                <div class="col-lg-12 d-flex justify-content-center align-items-center mb-5">
                    <img src="/assets/img/team/1.jpg" alt="" class="mx-auto rounded-circle" style="height:256px;">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <div class="large text-muted">{{ site.data.sitetext[site.locale].about.body | markdownify }}</div>
                </div>
            </div>
        </div>
    </section>
{% else %}
    <section class="page-section" id="{{ site.data.sitetext.about.section | default: "about" }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">{{ site.data.sitetext.about.title | default: "About Us" }}</h2>
                    <h3 class="section-subheading text-muted">{{ site.data.sitetext.about.text | default: "" }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <div class="large text-muted">{{ site.data.sitetext.about.body | markdownify }}</div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
<!-- End About -->